@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

:root {
	--color-l1: #fff004;
	--color-l2: #00b3f5;
	--color-bg: rgb(36, 35, 35);
	--font-family: "Rubik", sans-serif;
}

* {
	font-family: var(--font-family);
}

.modal-content {
	background-color: var(--color-bg);
	color: white;
}

.formRegistro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 1rem;
}

.nombreApellido {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	width: 100%;
}

.emailForm {
	justify-content: center;
	width: 100%;
}

.inputForm {
	height: 2.5rem;
	border-radius: 20px;
	padding: 1rem;
}

.passwordForm {
	margin-top: 1rem;
	width: 100%;
}

.passwordForm > input {
	margin-top: 1rem;
}

.modal-footer {
	justify-content: center;
}

.btn-registro {
	background: var(--color-l2);
	color: white;
	width: 15rem;
	padding: 0.5rem;
}

.caracteristicaPassword {
	font-size: 12px;
	text-align: center;
}
