@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

:root {
  --color-l1: #fff004;
  --color-l2: #00b3f5;
  --color-bg: rgb(36, 35, 35);
  --font-family: "Rubik", sans-serif;
}

* {
  font-family: var(--font-family);
}

.fa-3x {
  color: white;
}

.img-nav {
  width: 250px;
}

.navbar {
  background: var(--color-bg);
  font-size: 1rem;
}

.searching {
  position: absolute;
  padding: 5px;
  right: 110px;
}

.searching input {
  width: 0px;
  height: 40px;
  padding: 0 20px;
  font-size: 1rem;
  color: grey;
  outline: none;
  border: 1px silver;
  border-radius: 30px;
  transition: all 0.6s ease;
}

.lupa {
  position: absolute;
  top: 0;
  right: 0;
  background: var(--color-l1);
  width: 48px;
  height: 48px;
  line-height: 55px;
  text-align: center;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
  color: black;
}
.searching:hover input {
  width: 240px;
}
.car {
  width: 48px;
  height: 48px;
  border: 1px silver;
  border-radius: 50%;
  background: var(--color-l2);
  line-height: 55px;
  text-align: center;
  color: black;
}

/*______________Footer______________*/
.foot {
  background: var(--color-bg);
  font-size: 0.8rem;
}
.copy {
  background: var(--color-bg);
}
.foot a {
  text-decoration: none;
}

/*______________Media Queries______________*/
@media (max-width: 1100px) {
  .search {
    position: relative;
    left: 20px;
    margin-top: 5px;
  }
  .searching {
    position: relative;
    top: 4px;
    left: 15px;
  }
  .searching input {
    width: 240px;
  }
  .car {
    position: relative;
    left: 10px;
    top: 3px;
  }
}
