@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

:root {
  --color-l1: #fff004;
  --color-l2: #00b3f5;
  --color-bg: rgb(36, 35, 35);
  --font-family: "Rubik", sans-serif;
}

* {
  font-family: var(--font-family);
}

.fa-3x {
  color: white;
}

.img-nav {
  width: 250px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background: var(--color-bg);
  font-size: 1rem;
  min-width: 380px;
  align-items: center;
}

.searchbar {
  width: auto;
  margin-right: 10px;
  margin-left: 30px;
  border-radius: 40px;
  text-align: center;
}

#login-register {
  max-width: 50%;
  border: 1px solid #fff004;
  border-radius: 20px;
  margin-left: 10px;
}

.lupa {
  position: static;
  top: 1rem;
  right: 7.5rem;
  background: var(--color-l1);
  width: 48px;
  height: 48px;
  line-height: 57px;
  text-align: center;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
  color: black;
}

.car {
  width: 48px;
  height: 48px;
  border: 1px silver;
  border-radius: 50%;
  background: var(--color-l2);
  line-height: 57px;
  text-align: center;
  color: black;
}

.fav {
  width: 48px;
  height: 48px;
  border: 1px silver;
  border-radius: 50%;
  background: var(--color-l1);
  line-height: 57px;
  text-align: center;
  color: black;
}

.badgeCart {
  position: absolute;
  top: 50px;
  right: 70px;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.badgeFav {
  position: absolute;
  top: 50px;
  right: 20px;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*______________Footer______________*/
.foot {
  background: var(--color-bg);
  font-size: 0.8rem;
  min-width: 380px;
}
.copy {
  background: var(--color-bg);
}
.foot a {
  text-decoration: none;
}

/*______________Media Queries______________*/
@media (max-width: 991px) {
  .navbar-collapse {
    text-align: center;
  }

  .navbar-nav {
    flex-direction: column;
  }

  .nav-item {
    margin-bottom: 0.5rem;
  }

  .navbar-toggler {
    display: block;
  }
  #login-register {
    display: flex;
    justify-content: center;
  }

  .search {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .carrito {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .imgNav {
    display: flex;
    justify-content: center;
  }
  .badgeCart {
    position: relative;
    left: 25px;
    top: -25px;
  }

  .badgeFav {
    position: relative;
    left: 25px;
    top: -25px;
  }
  .lupa {
    position: relative;
    right: 48px;
    top: 2px;
  }
  .searchbar {
    height: 51px;
    margin-left: 2.6rem;
  }
}
