@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

:root {
  --color-l1: #fff004;
  --color-l2: #00b3f5;
  --color-bg: rgb(36, 35, 35);
  --font-family: "Rubik", sans-serif;
}

* {
  font-family: var(--font-family);
}

.productDep {
  min-width: 380px;
}

.btn-description {
  width: 12rem;
}

.card-title {
  font-size: 1.6rem;
}

.btnCardP {
  width: 180px;
  height: 2.4rem;
}

.footCards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.car-buttons {
  display: flex;
}

.btnCardP button {
  flex: 1;
  margin: 0 5px;
}

/*______________Media Queries______________*/
@media (max-width: 569px) {
  .product-text {
    font-size: 0.9rem;
  }
}

@media (min-width: 570px) {
  .product-text {
    font-size: 0.9rem;
  }
}

@media (min-width: 768px) {
  .product-text {
    font-size: 0.9rem;
  }
}

@media (min-width: 992px) {
  .product-text {
    font-size: 0.9rem;
  }

  .imgCardP {
    width: 13rem;
  }

  .btnCardP {
    width: 170px !important;
    height: 2.3rem;
  }

  .btncartt {
    font-size: 0.9rem !important;
  }
}

@media (min-width: 1180px) {
  .product-text {
    font-size: 1.1rem;
  }

  .imgCardP {
    width: 13rem !important;
  }
}

@media (max-width: 1200px) {
  .btn-description {
    width: 10rem;
  }
}

@media (min-width: 1260px) {
  .btnCardP {
    width: 200px !important;
  }

  .btncartt {
    font-size: 1rem !important;
  }
}
