@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

:root {
  --color-l1: #fff004;
  --color-l2: #00b3f5;
  --color-bg: rgb(36, 35, 35);
  --font-family: "Rubik", sans-serif;
}

* {
  font-family: var(--font-family);
}


.card-title{
  margin-bottom: 2rem;
  font-size: 1.5rem;
}


/*______________Media Queries______________*/
@media (max-width: 569px) {
  .product-text {
    font-size: 0.9rem;
    text-align: center;
  }
  
  .img{
    width: 12rem;
  }

  .card-footer .button{
    width: 7rem;
    font-size: 0.5rem;
  }
}

@media (min-width: 570px) {
  .product-text {
    font-size: 0.9rem;
    text-align: center;
  }
  .btn{
    width: 6rem;
    font-size: 0.7rem;
  }
}


@media (min-width: 990px) {
  .product-car{
    width: 100%;
  }

  .product-text {
    font-size: 0.8rem;
  }

  .img{
    width: 13rem;
  }

  .btn{
    width: 5rem;
    font-size: 0.77rem;
  }

}
