@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

:root {
  --color-l1: #fff004;
  --color-l2: #00b3f5;
  --color-bg: rgb(36, 35, 35);
  --font-family: "Rubik", sans-serif;
}

* {
  font-family: var(--font-family);
}

/* .product-car {
  width: 850px;
  min-width: 380px;
  align-items: center;
  align-self: center;
} */

.productDep {
  min-width: 380px;
}

/*______________Media Queries______________*/
@media (max-width: 569px) {
  .product-text {
    font-size: 0.9rem;
    text-align: center;
  }

  .card-footer .button {
    width: 7rem;
    font-size: 0.5rem;
  }
  .btnCardP {
    font-size: 0.7rem;
    width: 8rem;
  }
}

@media (min-width: 570px) {
  .product-text {
    font-size: 0.9rem;
    text-align: center;
  }
  .btnCardP {
    font-size: 0.7rem;
    width: 6rem;
  }
}

@media (min-width: 768px) {
  .product-text {
    font-size: 0.9rem;
    text-align: center;
  }
  .btnCardP {
    font-size: 0.7rem;
    width: 6rem;
  }
}

@media (min-width: 992px) {
  .product-text {
    font-size: 0.9rem;
  }

  .imgCardP {
    width: 13rem;
  }
  .btnCardP {
    font-size: 0.7rem;
    width: 5rem;
  }
}
@media (min-width: 1180px) {
  .product-text {
    font-size: 1.1rem;
  }

  .imgCardP {
    width: 13rem;
  }
  .btnCardP {
    font-size: 0.7rem;
    width: 6rem;
  }
}
