@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

:root {
	--color-l1: #fff004;
	--color-l2: #00b3f5;
	--color-bg: rgb(36, 35, 35);
	--font-family: "Rubik", sans-serif;
}

* {
	font-family: var(--font-family);
}

.resetPasswordForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	background-color: var(--color-bg);
	color: white;
	background: var(--color-bg);
}
.specs {
	text-align: center;
	margin: 1rem;
}
